@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Work Sans", sans-serif; */



/* shared styles */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1920px;
    margin: 0 auto;
    font-family: "Work Sans", sans-serif;
}

.container_width {
    max-width: 1440px;
    margin: 0 auto;
}

.btn_primary {
    padding: 21px 40px;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 40px;
}

:root {
    --primary-color: rgba(255, 66, 165, 1);
    --primary-text-color: #0B0223;
    --secondary-text-color: #534C64;
}

/* shared styles ------------------- */



/* navbar start */

.navbar {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.082);
}

.nav_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 37px;
    padding-bottom: 37px;
}

.logo_container {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 45px;
    font-weight: 700;
    color: var(--primary-text-color);
}

.logo_container img {
    margin-right: 20px;
}

.nav_items {
    display: flex;
    gap: 32px;
}

.nav_items button {
    font-size: 18px;
    font-weight: 500;
    color: var(--primary-text-color);
}

.youtube_logo,
.tiktok_logo,
.nav_btn_fllow_text {
    display: inline-block;
}

.youtube_logo,
.tiktok_logo {
    cursor: pointer;
}

.youtube_logo {
    width: 34px;
}

.tiktok_logo {
    width: 24px;
    height: 24px;
}

.nav_btn,
.nav_btn_fllow {
    display: inline-block;
}

.nav_btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.nav_btn_fllow {
    display: flex;
    align-items: center;
    gap: 24px;
    border: none;
    padding: 17px 24px;
    border-radius: 10px;
}

/* navbar end */

/* Hero section start */
.hero_container {
    background-image: url("../assets/Group\ 14.png");
    background-repeat: no-repeat;

}

.hero_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero_left {
    width: 50%;
    position: relative;
}

.hero_title_1 {
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.hero_title_2 {
    font-size: 95px;
    font-weight: 800;
    margin: 4px 0 24px;
    background-image: linear-gradient(#F948B2, #8758F1);
    background-clip: text;
    color: transparent;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 25%);
}

.hero_title_2_overlay {
    text-shadow: none;
    position: absolute;
    top: 14%;
}

.hero_description {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
    color: var(--secondary-text-color);
}

.hero_btn_1 {
    background-color: var(--primary-color);
    color: white;
    margin-right: 24px;
}

.hero_btn_2 {
    background-color: #4EC5F7;
    color: white;
}

.hero_right {
    width: 50%;
}

.hero_right img {
    width: 100%;
}

/* Hero section end */



/* We are gamer section start */

.we_are_gamer {
    background-color: rgba(255, 66, 164, 0.03);
}

.we_are_gamer_main {
    display: flex;
    align-items: center;
    gap: 52px;
    padding: 55px 0;
}

.we_are_right {
    text-align: right;
}

.we_are_right .title {
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(#F948B2, #8758F1);
    background-clip: text;
    color: transparent;
}

.we_are_right .description {
    font-size: 18px;
    line-height: 30px;
    color: var(--secondary-text-color);
    margin-top: 24px;
}

.know_more_btn {
    background-color: var(--primary-color);
    color: white;
    margin-top: 32px;
}

.our_purpose {
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
    margin-top: 24px;
    color: var(--secondary-text-color);
}

.our_purpose span {
    font-size: 32px;
    font-weight: 700;
}

/* We are gamer section end */



/* Online Games Funny Videos section start */

.online_games_funny_videos {
    margin-top: 120px;
    margin-bottom: 120px;
}


.online_games_funny_videos_main {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 48px;
}

.videos_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}


.online_games_funny_videos_header {
    text-align: center;
}

.online_games_funny_videos_header .title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}

.online_games_funny_videos_header .title span {
    background-image: linear-gradient(#F948B2, #8758F1);
    background-clip: text;
    color: transparent;
}

.online_games_funny_videos_header .description {
    font-size: 18px;
    color: var(--secondary-text-color);
}

.video img {
    margin-bottom: 24px;
}

.video {
    position: relative;
}


.video img:hover {
    filter: brightness(60%);
    transition: all 0.2s ease-in-out;
}

.video img:hover+.play_now {
    display: block;
}




.video .play_now:hover,
img:hover+.play_now {
    display: block;
}


.video img+p {
    font-size: 20px;
    font-weight: 500;
    color: var(--secondary-text-color);
}


.play_now {
    text-align: center;
    display: none;
    position: absolute;
    top: 38%;
    left: 35%;
}

.play_now_btn {
    font-size: 48px;
    margin-bottom: 16px;
    color: rgb(255, 255, 255);
}

.play_now_btn+p {
    font-size: 20px;
    font-weight: 600;
    color: var(--primary-color);
}

/* Online Games Funny Videos section end */



/* Play Instantly section start */

.play_instantly {
    margin-bottom: 195px;
}

.play_instantly_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 265px;
}

.play_instantly_left {
    text-align: right;
    width: 540px;
    display: flex;
    justify-content: flex-end;
}

.play_instantly_left_content {
    width: 353px;
}

.play_instantly_left_content .title {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

.play_instantly_left_content .title>span {
    color: var(--primary-color);
}

.play_instantly_left_content .description {
    font-size: 18px;
    line-height: 30px;
    margin-top: 24px;
    color: var(--secondary-text-color);
}

.play_instantly_right {
    position: relative;
}

.play_instantly_right .secondary_banner {
    position: absolute;
    bottom: -76px;
    left: -145px;
}

/* Play Instantly section end */



/* Play Games section start */
.play_games .play_games_left .secondary_banner {
    position: absolute;
    left: 528px;
}

.play_games_right {
    justify-content: flex-start;
    width: 483px;
}

.play_games_right_content {
    text-align: left;
    width: 483px;
}

/* Play Games section end */



/* Careers section start */
.careers_section {
    background-color: var(--primary-color);
    margin-top: 243px;
    margin-bottom: 120px;
    color: white;
    position: relative;
}
 

.careers_main {
    display: flex;
    gap: 80px; 
    padding: 120px 0;
}

.careers_left .title {
    font-size: 48px;
    font-weight: 700;
}

.careers_left .careers_description {
    margin-top: 24px;
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 30px;
}

.about_careers_topics {
    display: flex;
    justify-content: space-between;
    gap: 97px;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
}

.team_members_locations {
    text-align: right;
}

.career_btn {
    background-color: white;
    color: var(--primary-color);
}
 

/* Careers section end */